<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Nieuws item</h1>
    <h2><%= @news.title %></h2>
    <p>
      <%= @news.content %>
    </p>
    <p>
      Namens de Horsebackarchers of Holland,
    </p>
    <p>
      Janneke Rotman
      </br>
      Claire Hagen
    </p>
  </body>
</html>
