<html>

<head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">

     <meta name="description" content="">
     <meta name="author" content="">

     <title>HorsebackArchery</title>

     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-cookies.js"></script>
     <script src="loginController.js"></script>
     <script language="javascript" src="/assets/js/highlight.js"></script>

     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
     <link rel="shortcut icon" type="image/jpg" href="/assets/img/watermerk.jpg" />
     <link rel="stylesheet" href="/assets/css/style.css">
     <link rel="stylesheet" href="loginStyle.css">

</head>

<body ng-app="hoh" ng-controller="LoginCtrl">

     <div ng-include="'../../../assets/navbar.htm'"></div>

     <div class="container">
          <div class="starter-template">
               <h1 class="page-header">Login</h1>
               <div id="messages_error" class="alert alert-warning" data-ng-show="messages_error" data-ng-bind="messages_error"></div>
               <div class="col-md-6 col-md-offset-3 home">
                    <form ng-submit="loginUser()">
                         <div class="form-group">
                              <label>Email:</label>
                              <input type="text" class="form-control" placeholder="Email" ng-model="email"></input>
                         </div>
                         <div class="form-group">
                              <label>Wachtwoord:</label>
                              <input type="password" class="form-control" placeholder="Password" ng-model="password"></input>
                         </div>
                         <div id="messages" class="alert" data-ng-show="messages" data-ng-bind="messages"></div>
                         <button id="login_button" type="submit" class="btn btn-default btn-block">Login</button>
                    </form>
               </div>
          </div>
     </div>

     <footer ng-include="'../../../assets/footer.htm'" class="footer"></footer>

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</body>

</html>
