.home {
     text-align: left;
}

.home #messages {
     background-color: rgba(255, 0, 0, 0.7);
     margin-bottom: 15px;
     padding: 5px;
}

.home #login_button {
     border: none;
     background-color: rgba(34, 34, 34, 1);
     color: grey;
}

.home #login_button:hover {
     border: none;
     background-color: rgba(34, 34, 34, 0.9);
     color: #ffffff;
}
