.login{
  background-color: rgba(255, 127, 0, 0.9);
  border-radius: 25px;
  padding: 5% 5%;
  text-align: left;
}
.login #messages{
  background-color: rgba(255, 0, 0, 0.7);
  margin-bottom: 15px;
  padding:5px;
}
.login #login_button{
  border: none;
  background-color: rgba(34, 34, 34, 1);
  color:grey;
}
.login #login_button:hover{
  border: none;
  background-color: rgba(34, 34, 34, 0.9);
  color: #ffffff;
}
