.item{
  background-color: rgba(255, 127, 0, 0.9);
  border-radius: 25px;
  padding: 2% 5%;
  margin: 3%;
}
.item #title{
  font-size: 3rem;
}
.item #timestamp{
  font-size: 1.2rem;
  font-style: italic;
}
.item #body{
  font-size: 1.5rem;
}
.item #image{
  width: 100%;
}
