html {
  position: relative;
  min-height: 100%;

}
body {
  background: #000000 url("../img/Naamloos.png") no-repeat center fixed;
  background-size: contain;
  /*background-color: #000000;*/
  margin-bottom: 60px;
  padding-top: 50px;
}
.navbar .navbar-header>.navbar-brand{
  color: #FF7F00;
}
.navbar .navbar-nav>.active>a{
  background-color : #FF7F00;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.page-header{
  color:#FF7F00;
}
.home{
  weight:40%;
  padding: 2% 5%;
  margin: 3%;
  color: #000000;
  background-color: rgba(255, 127, 0, 0.9);
  border-radius: 25px;
}
.home #image{
  width: 20%;
  min-width: 100px;
  margin: 0 0 2% 0;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3%;
  vertical-align: middle;
  background-color: #222;
  text-align: center;
}
.footer .text-muted{
  color: grey;
}
