<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com, <%= @email %></h1>
    <p>
      This is automated generated agenda and information mail
    </p>
    <p>Do not reply to this email</p>
  </body>
</html>
