<div class="container">
     <div class="starter-template">
          <h1 class="page-header">Materialen</h1>
          <div id="messages_error" class="alert alert-warning" data-ng-show="messages_error" data-ng-bind="messages_error"></div>
          <div class="home row">
               <div id="item" ng-repeat="item in formData.items">
                    <div class="row">
                         <div class="col-12">
                              <h4>{{item.title}}</h4>
                         </div>
                         <div class="col-12">
                              <h5>{{item.subtitle}}</h5>
                         </div>
                    </div>
                    <div class="row">
                         <div class="col-md" id="content">
                              <p>{{item.content_one}}</p>
                         </div>
                         <div ng-hide="item.image.url == null" class="col-md-4" id="autoSize">
                              <center><img class="front_img" src="{{item.image.url}}"></img>
                              </center>
                         </div>
                         <hr>
                    </div>
                    <div ng-hide="item.content_three == ''" class="row">
                         <div ng-hide="item.content_two == ''" class="col-md" id="content">
                              <p>{{item.content_two}}</p>
                         </div>
                         <div ng-hide="item.content_three == ''" class="col-md" id="content">
                              <p>{{item.content_three}}</p>
                         </div>
                         <div ng-hide="item.content_four == ''" class="col-md" id="content">
                              <p>{{item.content_four}}</p>
                         </div>
                         <hr>
                    </div>
               </div>

          </div>
     </div>
</div>
